<div class="flex flex-wrap justify-center md:justify-start gap-4 mt-4">
  <a href="https://instagram.com/gosu.ilgiallo" target="_blank" class="hover:opacity-80">
    <img src="https://cdn.jsdelivr.net/gh/simple-icons/simple-icons/icons/instagram.svg" alt="Instagram" class="w-8 h-8">
  </a>
  <a href="https://github.com/jchergu" target="_blank" class="hover:opacity-80">
    <img src="https://cdn.jsdelivr.net/gh/simple-icons/simple-icons/icons/github.svg" alt="GitHub" class="w-8 h-8">
  </a>
  <a href="https://open.spotify.com/artist/5cOLW8HHCoGEP23cejkBZE" target="_blank" class="hover:opacity-80">
    <img src="https://cdn.jsdelivr.net/gh/simple-icons/simple-icons/icons/spotify.svg" alt="Spotify" class="w-8 h-8">
  </a>
  <a href="https://www.linkedin.com/in/jacopo-chergui-7202b0292/" target="_blank" class="hover:opacity-80">
    <img src="https://cdn.jsdelivr.net/gh/simple-icons/simple-icons/icons/linkedin.svg" alt="LinkedIn" class="w-8 h-8">
  </a>
  <a href="https://music.apple.com/us/artist/gosu/1341481732" target="_blank" class="hover:opacity-80">
    <img src="https://cdn.jsdelivr.net/gh/simple-icons/simple-icons/icons/applemusic.svg" alt="Apple Music" class="w-8 h-8">
  </a>
</div>