<header class="transition-colors duration-300 mx-2 my-2">

  <nav class="bg-primary container mx-auto px-4 flex justify-center md:justify-between items-center p-4 overflow-x-auto rounded-xl">
    <ul class="flex gap-1 md:gap-2 text-sm md:text-base items-center"> 
      <li>
        <a href="/index.html"
           class="inline-flex items-center p-2 rounded-md transition-colors transition-transform duration-200 hover:scale-110 hover:bg-primary-dark"
           aria-label="Home">
          <img src="/public/images/ape-break.png" alt="Home" class="w-8 h-8 rounded-full object-cover">
        </a>
      </li>
      <li>
        <a href="/src/pages/wip.html" class="inline-flex items-center px-3 py-2 rounded-xl transition-colors duration-200 text-primary-dark hover:bg-primary-dark hover:text-primary-white whitespace-nowrap">
          Portfolio💻
        </a>
      </li>
      <li>
        <a href="/src/pages/wip.html" class="inline-flex items-center px-3 py-2 rounded-xl transition-colors duration-200 text-primary-dark hover:bg-primary-dark hover:text-primary-white whitespace-nowrap">
          Music🎶
        </a>
      </li>
      <li>
        <a href="/src/pages/wip.html" class="inline-flex items-center px-3 py-2 rounded-xl transition-colors duration-200 text-primary-dark hover:bg-primary-dark hover:text-primary-white whitespace-nowrap">
          Blog📑
        </a>
      </li>
      <li>
        <a href="/src/pages/wip.html" class="inline-flex items-center px-3 py-2 rounded-xl transition-colors duration-200 text-primary-dark hover:bg-primary-dark hover:text-primary-white whitespace-nowrap">
          About❓
        </a>
      </li>
    </ul>
  </nav>

</header>